/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	/* Переменные тёмной темы */
	--font: "IBM Plex mono";
	--text-color: #f1b2ce;
	--accent-color: #ff0070;
	--accent-decoration-color: #ff0070;
	--accent-text-color: #000028;
	--bg-color: #000028;
	--font-size: 1.125rem;
	--header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	--header-color: #db00ff;
	--header-bg-image: url(../images/cover-image-dark.png);
	--margin-inline: 10px;
	--title-shadow: #ff0070;
	--title-shadow-another: #ff8dcb;
	--btn-hover-outln-clr: rgb(50 49 45 / 0.4);
}

@media (min-width: 768px) {
  
	:root {
		--header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
		--margin-inline: 20px;
	}
}

@media (prefers-color-scheme: light) {

	:root {
		/* Дублируем переменные светлой темы */
		--text-color: #353430;
		--accent-color: #ff8dcb;
		--header-color: #ffc2e6;
		--accent-text-color: #353430;
		--accent-decoration-color: #353430;
		--bg-color: #fff1f7;
		--header-bg-image: url(../images/cover-image-light.png);
		--btn-hover-outln-clr: rgb(255 0 112 / 0.4);
		--btn-hvr-outln-clr-d: rgb(255 0 112 / 0.4);
	}
}

@media (prefers-color-scheme: dark) {

	:root {
		/* Переменные тёмной темы */
		--text-color: #f1b2ce;
		--accent-color: #ff0070;
		--accent-decoration-color: #ff0070;
		--accent-text-color: #000028;
		--bg-color: #000028;
		--header-color: #db00ff;
		--header-bg-image: url(../images/cover-image-dark.png);
		--title-shadow: #ff0070;
		--title-shadow-another: #ff8dcb;
		--btn-hover-outln-clr: rgb(50 49 45 / 0.4);
	}
}
